<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'photo:myList' %}">My Photo</a>
    <a class="navbar-brand" href="{% url 'photo:sharedList' %}">Shared with me</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-row-reverse"
      id="navbarTogglerDemo02"
    >
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'photo:create' %}">Add a photo</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'photo:decryptedList' %}">Decrypt All</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="" onclick="DownloadAll();">Download All</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#">Hi {{user.username}}, {{user.userkey.D}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active btn btn-sm btn-primary" href="{% url 'user:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <h3 style="color: white;">Photo App</h3>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script>
  function DownloadAll(){
    const images=document.getElementsByName('image');
    for (let i of images){
      i.click();
    }
  }
</script>